.container {
    flex-basis: 700px;
}

.container__result{
    padding: 5px;
    text-align: center;
    font-size:45px
}

.container__paragraph{
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
}